CONFIG_IDF_TARGET="esp32c6"

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

CONFIG_ZB_ENABLED=y
CONFIG_ZB_ZCZR=y

CONFIG_GPIO_BOOT_ON_DEVKIT=9
CONFIG_GPIO_STATUS_LED_ON_DEVKIT=8

CONFIG_SHELF_JOIN_ALL_CHANNELS=y
# End device profile for SONOFF dongle / Zigbee2MQTT
CONFIG_SHELF_DEVICE_ROLE_END_DEVICE=y
# CONFIG_SHELF_DEVICE_ROLE_ROUTER is not set
